<h1>Sign In</h1>
<form method="POST" action="/sessions" enctype="multipart/form-data">
  <%= Rack::Csrf.tag(env) %>
  <label for="email">Email</label>
  <input type="text" name="email" id="email" value="<%= params[:email] %>">
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  <input type="submit" value="Log In">
</form>
